/* Add CSS Styling */

.odd {
  background-color: hsl(348, 100%, 75%);
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
  color: rgb(0,0,255);
  font-size: 36px;
}

#three {
  font-size: 24px;
}

#four {
  background-color: hsl(120, 73.4%, 74.9%);
  font-size: 24px;
}
